<div class="sequence-part stimulus"
     id="{{ name }}"
     data-duration="{{ duration }}"
     data-type="{{ type }}"
     data-input-time="{{ input_time_name }}"
     data-input-reaction="{{ input_reaction_name }}"
     style="display: none">
    {{ reaction_html }}
    {{ input_time_html }}
    {{ input_reaction_html }}
    {{ element_html }}
</div>