
.reaction-times,
.trial {
    position: relative;
}

.reaction-times > div,
.trial > div {
    position: absolute;
    height: 100%;
    width: 100%;
}

.trial {
    visibility: hidden;
}

.sequence-part {
    visibility: hidden;
}